@media screen and (max-width: 650px) {
    .upper-main-container {
        justify-content: center;
    }

    .sign-up-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: space-around;
    }

    .logo-container{
        position: unset;
        margin-left: 0;
    }

    .lower-links-container{
        position: unset;
    }

    .password-reset-form-container {
        width: 90% !important;
        margin-left: 0;

        h1 {
            width: 75%;
        }

        input {
            width: 100%;
        }
    }

    .password-reset-form,
    .password-reset-btns-container,
    .error-message-container {
        width: 85%;
    }

    .lower-links-container{
        margin-left: 0;
    }   

    .bad-login-main {
        padding: 20px;
        font-size: 21px;
        line-height: 30px;
    } 
}

@media screen and (max-width: 480px) {
    .bad-login-main {
        right: unset;  
    }
}

@media screen and (max-width: 450px) {
    .sign-up-main {
        width: 100vw;
        height: auto;
        justify-content: space-around;
    }

    .password-reset-form-container {
        width: 95% !important;

        h1{
            font-size: 38px;
            width: calc(100% - 20px);
        }

        form {
            width: 100% !important;
        }
    }

    .go-back-to-login-btn{
        left: 10px;
    }

    .password-reset-input-main {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .password-reset-email-input {
        width: calc(100% - 20px) !important;
    }

    .password-reset-password-input {
        width: calc(100% - 20px) !important;
        padding-left: 20px !important;
    }

    .password-reset-hint {
        width: calc(100% - 20px) !important;
    }

    .password-reset-description{
        width: calc(100% - 20px) !important;
    }

    .error-message-container {
        width: calc(100% - 20px) !important;
        min-height: 25px;
        height: unset;
    }

    .password-reset-btns-container{
        width: calc(100% - 20px) !important;
    }

    .bad-login-main {
        font-size: 18px;  
        padding: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 360px) {
    .password-reset-form-container {
        p {
            font-size: 18px;
        }
        h1 {
            font-size: 30px;
        }
        input, button {
            font-size: 16px;
        }

        input {
            padding: 14px 24px 14px 24px;
        }
    }
}

@media (max-width: 320px) {
    .bad-login-main {
        font-size: 16px;  
    }

    .lower-links-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}