@media screen and (max-width: 650px) {
    .upper-main-container {
        justify-content: center;
    }

    .login-main {
        flex-direction: column;
        gap: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .start-animation-logo {
        img {
            width: 150px;
            height: 150px;
        }
    }

    .start-animation-container {
        p {
            font-size: 76px;
        }
    }

    .login-form {
        width: 85% !important;
        height: unset;

        form {
            width: 85% !important;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        > h1 {
            font-size: 32px;
            width: 85%;
        }

        > p {
            width: 85%;
        }
    }

    .create-account-container {
        position: unset;
    }

    .error-message-container {
        margin-bottom: 10px;
        width: 85%;    }

    .login-hint {
        width: 85%;
        font-size: 17px;
        margin-top: 0px;
    }

    .login-email-input,
    .login-password-input,
    .login-input-main  {
        width: 100% !important;
    }

    .login-with-google-btn {
        width: 85%;
        margin-bottom: 30px;

        img {
            height: 34px;
            width: 34px;
        }
    }

    .or-container {
        width: 85% !important;
        margin-bottom: 0px;

        img {
            width: 139px;
        }

        p {
            text-align: center;
            width: 80px;
            font-size: 17px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    .lower-links-container {
        display: none;
    }

    .create-account-container {
        align-items: center;
        top: unset;
    }

    .login-btns-container {
        margin-bottom: 25px;
    }

    .bad-login-main {
        padding: 20px;
        font-size: 21px;
        line-height: 30px;
    }
}

@media screen and (max-width: 480px) {
    .bad-login-main {
        right: unset;  
    }
}

@media screen and (max-width: 450px) {
    .login-main {
        width: 100vw;
        height: auto;
    }

    .start-animation-logo {
        img {
            width: 90px;
            height: 90px;
        }
    }

    .start-animation-container{
        p{
            font-size: 35px;
        }
    }

    .login-form {
        width: 95%!important;

        form {
            width: 100% !important;
            gap: 0.5rem;
        }

        input {
            padding: 14px 24px 14px 24px;
            font-size: 16px;
        }
    }

    .login-input-main {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-email-input,
    .login-with-google-btn,
    .error-message-container,
    .login-password-input,
    .login-hint {
        width: calc(100% - 20px) !important;
    }

    .login-with-google-btn {
        padding: 11px 20px;

        p {
            font-size: 16px;
        }
    }

    .login-btns-container{
        gap: 10px;
    }

    .bad-login-main {
        font-size: 18px;  
        padding: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 320px) {
    .bad-login-main {
        font-size: 16px;  
    }

    .login-btns-container > button {
        font-size: 16px;
        padding: 12px;
    }
}