<div class="imprint-box">
    <div class="padding-box">
        <a href="javascript:history.back()" class="back-arrow"><img src="./../../assets/img/login/back.png" alt=""></a>

        <h1>Impressum</h1>

        <p>Tobias Odermatt</p>
        <p>Roswiesenstrasse 61</p>
        <p>8309 Nürensdorf</p>
        <p>Schweiz</p>
    
        <h2>Kontakt:</h2>
    
        <p>Email: <a class="email-link" href= "mailto:odermatt.tobias.w@gmail.com">odermatt.tobias.w&#64;gmail.com</a></p>
    </div>
</div>